body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Three equal-width columns */
    grid-template-rows: 8% 85% 7%; /* Three rows with specified heights */

    /* Adjust grid gap and other styles as needed */
    gap: 10px;
    background-color: #FBF1EF;
    font-family: 'Mukta', sans-serif;
    height: 100vh; /* Make the grid cover the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for better spacing */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3f3b9;
    margin: 5px;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d3f3b9;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

.leftNavSection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

header img{
    max-height: 50px;
    border-radius: 25px;
    margin: 0px 5px;
}

.gameCenter img {
    max-width: 750px; /* Adjust the width and height as needed */
    max-height: 750px;
    border-radius: 50%;
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */ 
    transition: transform 0.3s; 
}

.gameCenter img:hover,
.gameCenter img.hovered {
    transform: scale(1.2); /* Increase the size on hover and click */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    
}

.header {
    grid-column: span 3; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3f3b9;
    border-radius: 5px;
}

.footer {
    grid-column: span 3; /* Make the footer span all three columns */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d3f3b9;
    border-radius: 5px;
    padding: 10px;
}

.leftSection {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #FBF1EF; 
    padding: 10px; 
    border-right: 2px solid #333;
}

.middleSection {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #FBF1EF; 
    border: #333;
    padding: 10px; 
}

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBF1EF; 
    padding: 10px; 
    border-left: 2px solid #333;
}

.resetArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.centeredText {
    text-align: center;
}

.rightSection h1, .leftSection h1  {
    text-decoration: underline;
}

.middleSection h1{
    font-size: 1.5;
}

#buyAutoClicker {
    padding: 10px 20px;
    background-color: #e693cd;
    color: white;
    border: 1.5px solid #384552;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

#buyAutoClicker:hover {
    background-color: #d963bf;
    transform: scale(1.05); /* Enlarge on hover */
}

#resetBtn {
    padding: 2px 4px;
    background-color: #e6463a;
    color: white;
    border: 1.5px solid #384552;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

#resetBtn:hover {
    background-color: #ef2525;
    transform: scale(1.05); /* Enlarge on hover */
}

